<title>My Profile</title>
{% extends 'base.html' %}

{% block content %}
        <h3 class="profileHeader">My Profile</h3>
        <div class="infoContainer">
            <br>
            <p>(profile picture)</p>
            <button type="button" id="editButton" class="btn btn-default">Edit</button>
            <br> <br> <br>
            <h6>Name: </h6>
            <button type="button" id="editButton" class="btn btn-default">Edit</button>
            <br>
            <h6>Email: </h6>
            <br>
            <h6>Mobile: </h6>
            <br>
            <h6>Username: </h6>
        </div>
{% endblock %}