.yellow {
    background-color: lightgoldenrodyellow ;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.frontpage {
    background: url('/static/images/forsidumynd.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -20px;
<<<<<<< HEAD
    height: 30em;
    opacity: 0.9;
=======
    height: 450px;
>>>>>>> a9adc1beb1396b2243ec684ecbc62e0584430b58
}

#logincontainer {
    justify-content: center;
    width: 30%;
    background-color: grey;
    opacity: 0.5%;
    padding: 0;
}

.btn {
    margin-top: 15px;
}

.navbar{
    border: 0;
    border-radius: 0;
    position: relative;
    overflow: hidden;
}

.navbar-brand {
    position: relative;
    color: floralwhite;
    text-effect: outline;
    font-weight: bolder;

}

.navContent {
    margin-top: 0.7em;
    color: lightblue;
}

#navbar-animation {
    position: absolute;
    z-index: -6;
    top: -1000px;
    bottom: -1000px;
    right: 0;
    left: 0;
    border: 0;
    background-image: linear-gradient(to right,#2B59D5, #1A2D62);
    animation: animate-navbar 4s linear infinite alternate;
}

@keyframes animate-navbar {
    0% {
        transform: rotate(0);}
    100% {
        transform: rotateZ(180deg);}
}

.form-group {
    margin-top: 0.7em;
}

.apartmentHeader {
    text-align: center;
}

.profileHeader {
    text-align: center;
}

<<<<<<< HEAD
.infoContainer {
    margin-left: 10%
}

#editButton {
    <!-- ## -->
}

.icon {
    background-size: cover;
    background-position: center;
    height: 24px;

}
=======
#loginbutton {
    margin-left: 60px;
}

#registerbutton {
    margin-left: 52px;
}
>>>>>>> a9adc1beb1396b2243ec684ecbc62e0584430b58
