.yellow {
    background-color: lightgoldenrodyellow ;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.frontpage {
    background: url('/static/images/forsidumynd.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -20px;
    height: 350px;
}

#logincontainer {
    text-align: center;
    width: 30%;
}

.navbar{
    border: 0;
    border-radius: 0;
    position: relative;
    overflow: hidden;
}

.navbar-brand {
    position: relative;
    color: whitesmoke;
    text-effect: outline;
    font-weight: bolder;

}

#navbar-animation {
    position: absolute;
    z-index: -6;
    top: -1000px;
    bottom: -1000px;
    right: 0;
    left: 0;
    border: 0;
    background-image: linear-gradient(to right,lightblue, midnightblue);
    animation: animate-navbar 3s linear infinite alternate;
}


.form-group {
    margin-top: 0.7em;
}