.yellow {
    background-color: lightgoldenrodyellow ;
}

.frontpageimg {
    max-width: 150%;
    height: auto;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}