{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <script>
            window.location.replace("{% url 'apartment-index' %}")
        </script>
    {% endif %}
    <div class="frontpage">
        <div class="container" id="logincontainer">
                        {% if not user.is_authenticated %}

            <form method="post" class="container", id="loginform">
            {% csrf_token %}
            {{ form }}
                            <button type="submit" class="btn btn-outline primary" id="loginbutton">Login</button>
            <button class="btn btn-outline primary" id="registerbutton"><a href="{% url 'register' %}">Register</a></button>
                {% endif %}
        </form>
        </div>
    </div>
    <div class="apartmentHeader">
        <h3>Apartments for sale:</h3>
        <h6>Newest first</h6>
    </div>
    <div class="apartments">
        {% for apartment in apartments %}
            {% include 'apartment/single_apartment.html' with apartment=apartment %}
        {% endfor %}
    </div>
{% endblock %}




