{% extends 'base.html' %}

{% block content %}
    <div class="frontpage">
    <nav class="container" id="logincontainer">
        <h2>Find your dream home!</h2>
        <h3>Login</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" value="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" value="">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
    </nav>
    </div>
{% endblock %}