{% extends 'base.html' %}

{% block content %}
    <div class="frontpage">
    <div class="container" id="logincontainer">
        <form method="post" class="container", id="logincontainer">
        {% csrf_token %}
        {{ form }}
    <input type="submit" class="btn" value="Login"/>
    </form>
    </div>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">LogOut</a></li>
        {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </div>
{% endblock %}




