<title>Apartment info</title>
{% extends 'base.html' %}
{% load humanize %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {% for apartmentimage in apartment.apartmentimage_set.all %}
                        {% if forloop.counter == 6 %}
                    <img src="{{ apartmentimage.image }}" class="apartment-img1"/>
                        {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-3">
                <h1> {{ apartment.address }} | {{ apartment.zip }} {{ apartment.city }}</h1>
                <h3>Country: {{ apartment.country }}</h3>
                <h3>Apartment Size: {{ apartment.size }} m²</h3>
                <h3>Price: {{ apartment.price | intcomma}} kr.</h3>
                <h3>Rooms: {{ apartment.rooms }}</h3>
            </div>
            <div class="col-md-2" id="apartmentdesc">
                <p id="desctexti">{{ apartment.description }}</p>
                {% if user.is_authenticated and not user.is_superuser %}
                    <a href="{% url 'buy_apartment' apartment.id %}" id="buy_apartment"></a>
                    <button class="btn btn-primary" id="buybutton">Buy Apartment</button>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser %}
                    <a href="{% url 'delete_apartment' apartment.id %}" class="block btn btn-primary">Delete Apartment</a>
                    <a href="{% url 'update_apartment' apartment.id %}" class="block btn btn-primary">Update Apartment</a>

                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                    {% for apartmentimage in apartment.apartmentimage_set.all %}
                        {% if forloop.counter < 6 %}
                    <img src="{{ apartmentimage.image }}" class="apartment-img2" id="myndiraffasteign"/>
                        {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-6">
                <p>Realtor: {{ apartment.realator_id }}</p>
            </div>
        </div>
    <div class="row">
    <div class="col-md-6">
    </div>
    </div>
    </div>
{% endblock %}