<title>Apartments</title>
{% extends 'base.html' %}

{% block content %}
    <!--<div class="apartmentHeader">
        <h3>Apartments for sale:</h3>
        <h6>Newest first</h6>
    </div>-->
    <div class="container">
        <div class="form-group col-xs-3" id="filter-box">
            Zip Code<br><select></select>
            <br>Rooms<br><select></select> To <select></select>
            <br>Price<input type="range" min="1" max="300" value="50" class="slider" id="priceInputID" oninput=changeprice()>
            <p><span id="priceOutputID"></span> M ISK</p>
            <br>Size<input type="range" min="1" max="500" value="100" class="slider" id="sizeInputID" oninput=changesize()>
            <p><span id="sizeOutputID"></span> m2</p>

        </div>
            <div class="form-group col-xs-9" id="apartments">
                {% for apartment in apartments %}
                    {% include 'apartment/single_apartment.html' with apartment=apartment %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}