<title>Apartment info</title>
{% extends 'base.html' %}
{% load humanize %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {% for apartmentimage in apartment.apartmentimage_set.all %}
                        {% if forloop.counter == 6 %}
                    <img src="{{ apartmentimage.image }}" class="apartment-img1"/>
                        {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-3">
                <h1> {{ apartment.address }} | {{ apartment.zip }} {{ apartment.city }}</h1>
                <h3>Country: {{ apartment.country }}</h3>
                <h3>Apartment Size: {{ apartment.size }} m²</h3>
                <h3>Price: {{ apartment.price | intcomma}} kr.</h3>
                <h3>Rooms: {{ apartment.rooms }}</h3>
            </div>
            <div class="col-md-2" id="apartmentdesc">
                <p id="desctexti">{{ apartment.description }}</p>
                {% if user.is_authenticated and not user.is_superuser %}
                    <a href="{% url 'buy_apartment' apartment.id %}" id="buy_apartment">
                    <button class="btn" id="nextButton">Buy Apartment</button>
                    <!-- kannski bæta við make offer -->
                    </a>
                    <button type="button" class="btn" id="mainButton">
                         <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite
                    </button>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser %}
                    <a href="{% url 'delete_apartment' apartment.id %}" class="block btn" id="mainButton">Delete Apartment</a>
                    <a href="{% url 'update_apartment' apartment.id %}" class="block btn" id="mainButton">Update Apartment</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 image-set">
                    {% for apartmentimage in apartment.apartmentimage_set.all %}
                        {% if forloop.counter < 7 %}
                            <a href="#">
                                <img src="{{ apartmentimage.image }}" class="apartment-img2" id="ApartmentPhotos"/>
                            </a>
                        {% endif %}
                {% endfor %}
            </div>
            <br>
            <div class="col-md-6">
                <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                            <img src="{{ apartment.realator.profile.image }}" alt="{{ apartment.realator.profile.name }}" class="img-responsive img-circle" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">Realtor:</span><br/>
                            <span class="glyphicon glyphicon-user"> {{ apartment.realator.profile.name }}</span>
                            <br><span class="glyphicon glyphicon-map-marker"> {{ apartment.realator.profile.address }}</span>
                            <br><span class="glyphicon glyphicon-earphone"> {{ apartment.realator.profile.phone }}</span>
                            <br><span class="glyphicon glyphicon-paperclip"> {{ apartment.realator.profile.email }}</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
            </div>
        </div>
    <div class="row">
    <div class="col-md-6">
    </div>
    </div>
    </div>
{% endblock %}