<title>Buyer info</title>
{% extends "base.html" %}
{% block content %}
    <h2>Input your current information</h2>
    <form class="form form-horizontal" action="{% url 'buy_apartment' apartment.id%}" method="post">
        {% csrf_token %}
        {{ form }}
        <h3>Card information</h3>
        {{ bform }}
        <label for="sammala">All of those informations are right   </label>
        <input id="sammala" type="checkbox" required >
        <input type="submit" value="Next" id="nextButton" class="btn" />
    </form>

{% endblock %}
