{% extends "base.html" %}
{% block content %}

    <h2>Are these informations correct? </h2>
    <div class=>
        <a href="{% url 'buy_apartment' apartment.id %}" id="buy_apartment">
        <input type="submit" value="No incorrect, go back" id="goBackButton" class="btn" /></a>
    </div>
    <div>
        <a href="{% url 'payment_success' %}" id="payment_success">
        <input type="submit" value="Yes, correct" id="nextButton" class="btn"/></a>
    </div>
    <form class="form form-horizontal" action="{% url 'buy_apartment' apartment.id%}" method="post">
        {% csrf_token %}
        {{ form }}
        {{ bform }}
    </form>

{% endblock %}